{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    {{ form.as_p }}
    <script src='https://www.google.com/recaptcha/api.js?render=6LfteHgUAAAAAMBgCAes3qwqVtsmwH8ez7MRrNUH'></script>
    <script>
        grecaptcha.ready(function() {
        grecaptcha.execute('6LfteHgUAAAAAMBgCAes3qwqVtsmwH8ez7MRrNUH', {action: 'action_name'})
        .then(function(token) {
        // Verify the token on the server.
        });
        });
        </script>
            <div class="g-recaptcha" data-sitekey="6LfteHgUAAAAAMBgCAes3qwqVtsmwH8ez7MRrNUH"></div>

    <button type="submit">Login</button>
</form>
{% endblock %}